footer.footer
    .footer__wraper
        h2.contscts Контакты
        .footer__social
                    svg(xmlns='http://www.w3.org/2000/svg', aria-label='Google Maps', role='img', viewbox='0 0 512 512')
                        defs
                            clippath#a
                                rect(width='512', height='512', x='0', y='0', rx='15%')
                        g(clip-path='url(#a)')
                            path(fill='#35a85b', d='M0 0h512v512H0z')
                            path(fill='#fadb2a', d='M-50 512L512 -50l32 600z')
                            path(fill='#fff', d='M32 512L512 32v480z')
                            path(fill='#5881ca', d='M256 288L32 512h448z')
                            path(fill='#c1c0be', d='M288 256L512 32v448z')
                            path(d='M149 113c23-11 51-6 70 11l-18 17c-18-18-53-10-62 15-11 24 8 55 34 56 18 2 35-10 39-27h-37v-23c21 1 42-1 62 1 1 15 0 31-8 44-12 23-42 33-67 27-31-6-55-38-50-69 2-23 17-43 37-52', fill='#f2f2f2')
                        path(d='M418 66c-10 2-18 11-19 20-1 10 4 19 13 23 8 5 21 4 28-3 7-6 10-18 6-26-4-11-17-17-28-14zm1-45h8c20 1 40 12 53 28 8 10 12 23 13 36v5c0 25-16 45-30 66-16 21-30 45-35 73-1 5 1 11-5 13l-4-3c-1-15-5-30-11-44-8-16-18-32-29-46-6-9-12-17-17-27a67 67 0 0 1 10-81c13-11 30-19 47-20', fill='#de3738')
                        circle(cx='423', cy='89', r='25', fill='#7d2426')
        a(href='https://yandex.ru/maps/-/CBqpJ8hW1B' target="_blank" rel="noopener noreferrer") Новгородская обл., г. Старая Русса 
        br
        .footer__social
                    svg(                  
                        xmlns="http://www.w3.org/2000/svg"
                        aria-label="VK" 
                        role="img"
                        viewBox="0 0 512 512"
                    )
                        rect(
                            width="512" 
                            height="512"
                            rx="15%"
                            fill="#5281b8"
                        )
                        path(
                            fill="#fff" 
                            d="M274 363c5-1 14-3 14-15 0 0-1-30 13-34s32 29 51 42c14 9 25 8 25 8l51-1s26-2 14-23c-1-2-9-15-39-42-31-30-26-25 11-76 23-31 33-50 30-57-4-7-20-6-20-6h-57c-6 0-9 1-12 6 0 0-9 25-21 45-25 43-35 45-40 42-9-5-7-24-7-37 0-45 7-61-13-65-13-2-59-4-73 3-7 4-11 11-8 12 3 0 12 1 17 7 8 13 9 75-2 81-15 11-53-62-62-86-2-6-5-7-12-9H79c-6 0-15 1-11 13 27 56 83 193 184 192z"
                        )
        a(href='https://vk.com/id37061612' target="_blank" rel="noopener noreferrer") VK
        br
        .footer__social
                    svg(                  
                        xmlns="http://www.w3.org/2000/svg"
                        aria-label="Mail" 
                        role="img"
                        viewBox="0 0 512 512"
                    )
                        rect(
                            width="512" 
                            height="512"
                            rx="15%"
                            fill="#328cff"
                        )
                        path(
                            fill="#fff" 
                            d="m250 186c-46 0-69 35-69 74 0 44 29 72 68 72 43 0 73-32 73-75 0-44-34-71-72-71zm-1-37c30 0 57 13 77 33 0-22 35-22 35 1v150c-1 10 10 16 16 9 25-25 54-128-14-187-64-56-149-47-195-15-48 33-79 107-49 175 33 76 126 99 182 76 28-12 41 26 12 39-45 19-168 17-225-82-38-68-36-185 67-248 78-46 182-33 244 32 66 69 62 197-2 246-28 23-71 1-71-32v-11c-20 20-47 32-77 32-57 0-108-51-108-108 0-58 51-110 108-110"
                        )
        p vladimirDio@mail.ru
        br
        p 
            span &#127275 2018. All rights reserved.
    .auth-form#auth-form
        h3 Login
            .login-form
                form(action='/', method='post')
                    input(type='text', name='logemail', placeholder='E-mail', required='', autocomplete='off')
                    input(type='password', name='logpassword', placeholder='Password', required='')
                    .tp
                        input(type='submit', value='LOGIN NOW')
    button.footer__add(title="Добавить стих. Только для администратора.") 
        .footer__limk#plus +
            
