<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- animate css
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css") 
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(rel="stylesheet", href="/static/css/nav-left.css")
        link(rel="stylesheet", href="/static/css/main.css")
        link(rel="stylesheet", href="/static/css/footer.css")
        
        title= name
    
    //- mixin poems(name, read)
    //-         .card
    //-             h1 #{name} 
    //-             pre.stih #{read}(selected)
    body
        header.header
            .header__logo.animated.rollIn
            nav.header__nav-top
                //- button все
                select.select(onchange="selectIndex()")
                    option(value="all") все 
                    option(value="lyrics") лирика / любовь / женшины 
                    option(value="job") о работе 
                    option(value="other") другое
        include nav-left.pug
        
        //- выдвижное меню
            ul            
                li 
                    a(href='#')= mongo[0].title
                li 
                    a(href='#')= mongo[1].title
                li 
                    a(href='#')= mongo[2].title
                li 4th ti(class="class-"+)
                li 5th ti (class="class"+mongo[i].genre) (onclick="testfunc()")animated.

        .main
            - let i = 0;
            while i <= mongo.length-1
                a.main__card(class= mongo[i].genre).wow.fadeInUp(href="http://localhost:3000/"+mongo[i]._id)
                    if mongo[i].title == ' '
                        .main__card-img
                        .main__card-name
                            h3.main__card-title
                            p= mongo[i++].text
                            //- span= mongo[i]._id
                    else
                        .main__card-img
                        .main__card-name
                            h3.main__card-title= mongo[i++].title
          
        
        include footer.pug
        
            
        script(src="../static/js/wow.min.js")
        script new WOW().init();
        script(src="../static/js/css.js")
        script(src="../static/js/load.js")
        script(src="../static/js/activelnk.js")
        //- script(src="../static/js/getId.js")
                